#wrapper {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; 
}

.wel{
	float: left
}

#tut{
	opacity: 0.4;
}

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }

#usermsg {
    width:395px;
    border:1px solid #ACD8F0; 
    padding-left: 30px;
}
  
#submit { width: 60px; }

#exit{
	float: right;
}

#menu { padding:12.5px 25px 12.5px 25px; }