body{
  background-image: url('bg1.jpg');
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: top right;
}

.welcome{
    color: white;
    padding-left: 800px;
    padding-top: 200px;
    font-size: 40px;
}

#system{
    margin-left: 900px;
    margin-top: 20px;
    size: 20px;
}
