body{
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: top right;
}

input, textarea{
    color: #fff000;
}

form{
    padding-top: 20px;
    padding-right: 30px;
}

.error{
    color: #ff0000;
}

nav{
   background-color: #424242;
   height: 135px;
}

img{
  width: 450px;
  height: 150px;
  position: absolute;
  padding-bottom: 60px;
  margin-top: 20px;
}
