<form class="col s12" action="" method="post">{% csrf_token%}
    <p>
        <input type="checkbox" id="test5" />
        <label for="test5">The task completed?</label>
    </p>
    <p>
        Rate the service engineer:
    </p>
    <p>
      <input class="with-gap" name="group1" type="radio" id="test1" />
      <label for="test1">1</label>
      <input class="with-gap" name="group1" type="radio" id="test2" />
      <label for="test2">2</label>
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3">3</label>
      <input class="with-gap" name="group1" type="radio" id="test4"/>
      <label for="test4">4</label>
      <input class="with-gap" name="group1" type="radio" id="test4"/>
      <label for="test4">5</label>
    </p>
    <p>
        Rate the contact centre:
    </p>
    <p>
      <input class="with-gap" name="group2" type="radio" id="test1" />
      <label for="test1">1</label>
      <input class="with-gap" name="group2" type="radio" id="test2" />
      <label for="test2">2</label>
      <input class="with-gap" name="group2" type="radio" id="test3"  />
      <label for="test3">3</label>
      <input class="with-gap" name="group2" type="radio" id="test4"/>
      <label for="test4">4</label>
      <input class="with-gap" name="group2" type="radio" id="test4"/>
      <label for="test4">5</label>
    </p>
    <p>
	  	<input id="input_text" type="text" name="input_text">
		<label for="input_text" >Give some detailed feedback</label>
	</p>
</form>