	<div class="card" id="time">
		<div class="card-content">
			<span class="card-title">Time</span>
			<p>{{notification.day}}</p>
			<p>{{notification.timeslot}}</p>
		</div>
	</div>
	<div class="card" id="system">
		<div class="card-content">
			<span class="card-title">System</span>
			<p>{{notification.model}}</p>
		</div>
	</div>
	<div class="card" id="location">
		<div class="card-content">
			<span class="card-title">Location</span>
			<p>{{notification.addr}}</p>
		</div>
		<div class="card-action">
			<a href="#">View on map</a>
		</div>
	</div>
	<div class="card" id="real">
		<div class="card-content">
			<span class="card-title">Real time data</span>
			<p>Here is some real time data</p>
		</div>
	</div>
	{% if notification.invalid %}
	<div id="buttons">
		<a href="#" class="btn btn-primary" id="accept" disabled>Accept</a>
		<a href="#" class="btn btn-primary" id="reject" disabled>Reject</a>
		<a href="#" class="btn btn-primary" id="call">Call a pro</a>
	</div>
	{% else %}
	<div id="buttons">
		<a href="#" class="btn btn-primary" id="accept">Accept</a>
		<a href="#" class="btn btn-primary" id="reject">Reject</a>
		<a href="#" class="btn btn-primary" id="call">Call a pro</a>
	</div>
	{% endif %}