{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Customer-Systems</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/system.css' %}">
  </head>
  <body>
    <div class="page-header">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/DAIKIN_logo.svg" alt="Daikin Logo" style="width:450px;height:150px">
    </div>
    <div>
        <div  class="welcome">Your systems</div>
        {%for systems in system %}
        <div class="card sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{% static 'css/AC.jpg' %}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{systems.system}}<i class="material-icons right">more_vert</i></span>
                <p>Date of Purchase: {{systems.purchasedate}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;In-Warranty: {{systems.warranty}}</p>
                <div id="status"><p>Dealer ID: {{systems.dealerid}} &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    Status: &nbsp;</div><div id="circle"></div></p>
            </div>
            <div class="card-action">
                <a href="#">Report an issue</a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{systems.system}}<i class="material-icons right">close</i></span>
                <p>Here is some real time data about the system.</p>
            </div>

        </div>
        {% endfor %}
    </div>
    <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
 </body>
</html>
